# Default ignored files
/../../석사학위논문/.idea/shelf/
/../../석사학위논문/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../석사학위논문/.idea/httpRequests/
# Datasource local storage ignored files
/../../석사학위논문/.idea/dataSources/
/../../석사학위논문/.idea/dataSources.local.xml
